In [3]:
    import pandas as pd
    import numpy as np
    import featuretools as ft

    # Read in the data
    clients = pd.read_csv('C:/Users/ksmin/data_Science/dataset/clients.csv', parse_dates = ['joined'])
    loans = pd.read_csv('C:/Users/ksmin/data_Science/dataset/loans.csv', parse_dates = ['loan_start', 'loan_end'])
    payments = pd.read_csv('C:/Users/ksmin/data_Science/dataset/payments.csv', parse_dates = ['payment_date'])

    #Create entity set
    es = ft.EntitySet(id = 'clients')

     # Create an entity from the client dataframe
     # This dataframe already has an index and a time index
     # index=RDB primary key
     # time index= date_time feature
    #client entity and add es entityset
    es = es.entity_from_dataframe(entity_id = 'clients', 
                                   dataframe = clients, 
                                   index = 'client_id', 
                                   time_index = 'joined')
    #create entity loans
    es = es.entity_from_dataframe(entity_id='loans', 
                                   dataframe=loans,
                                   index='loan_id', 
                                   time_index='loan_end')
     # Create an entity from the payments dataframe
     # This does not have an index
    es = es.entity_from_dataframe(entity_id = 'payments', 
                                   dataframe = payments,
                                   variable_types = {'missed':
                                                     ft.variable_types.Categorical},
                                   make_index = True,
                                   index = 'payment_id',
                                   time_index = 'payment_date')

    # Group loans by client id and calculate mean, max, min of loans
    #client_id로 groupby를 한 다음 loan_amount의 mean,max,min 계산을 하여 출력한다.
    stats = loans.groupby('client_id')['loan_amount'].agg(['mean', 
    'max', 'min'])
    #columns 생성한다.
    stats.columns = ['mean_loan_amount', 'max_loan_amount', 
    'min_loan_amount']
    # Merge with the clients dataframe
    stats = clients.merge(stats, left_on = 'client_id', right_index=True, how = 'left')
    stats.head(10)

    #make entity realations
    # Create a relationship between clients and loans
    r_client_previous = ft.Relationship(es['clients']['client_id'],
                                        es['loans']['client_id'])
    # Add the relationship to the entity set
    es= es.add_relationship(r_client_previous)
    # Relationship between previous loans and previous payments
    r_payments = ft.Relationship(es['loans']['loan_id'],
                                 es['payments']['loan_id'])
    # Add the relationship to the entity set
    es= es.add_relationship(r_payments)

    # Create new features using specified primitives
    features, feature_names = ft.dfs(entityset = es, target_entity = 'clients', 
                                     agg_primitives = ['sum'],
                                     trans_primitives=[])

C:\Users\ksmin\anaconda3\Lib\site-packages\featuretools\utils\entity_utils.py:206: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(dropped_na, errors='raise')
C:\Users\ksmin\anaconda3\Lib\site-packages\featuretools\entityset\deserialize.py:63: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  interesting_values = pd.read_json(interesting_values, typ="series")
C:\Users\ksmin\anaconda3\Lib\site-packages\featuretools\entityset\deserialize.py:63: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  interesting_values = pd.read_json(interesting_values, typ="series")
C:\Users\ksmin\anaconda3\Lib\site-packages\featuretools\entityset\deserialize.py:63: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  interesting_values = pd.read_json(interesting_values, typ="series")
C:\Users\ksmin\anaconda3\Lib\site-packages\featuretools\entityset\deserialize.py:63: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  interesting_values = pd.read_json(interesting_values, typ="series")
C:\Users\ksmin\anaconda3\Lib\site-packages\featuretools\entityset\deserialize.py:63: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  interesting_values = pd.read_json(interesting_values, typ="series")
C:\Users\ksmin\anaconda3\Lib\site-packages\featuretools\entityset\deserialize.py:63: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  interesting_values = pd.read_json(interesting_values, typ="series")
C:\Users\ksmin\anaconda3\Lib\site-packages\featuretools\entityset\deserialize.py:63: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  interesting_values = pd.read_json(interesting_values, typ="series")
C:\Users\ksmin\anaconda3\Lib\site-packages\featuretools\entityset\deserialize.py:63: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  interesting_values = pd.read_json(interesting_values, typ="series")
C:\Users\ksmin\anaconda3\Lib\site-packages\featuretools\entityset\deserialize.py:63: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  interesting_values = pd.read_json(interesting_values, typ="series")
C:\Users\ksmin\anaconda3\Lib\site-packages\featuretools\entityset\deserialize.py:63: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  interesting_values = pd.read_json(interesting_values, typ="series")
C:\Users\ksmin\anaconda3\Lib\site-packages\featuretools\entityset\deserialize.py:63: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  interesting_values = pd.read_json(interesting_values, typ="series")
C:\Users\ksmin\anaconda3\Lib\site-packages\featuretools\entityset\deserialize.py:63: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  interesting_values = pd.read_json(interesting_values, typ="series")
C:\Users\ksmin\anaconda3\Lib\site-packages\featuretools\entityset\deserialize.py:63: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  interesting_values = pd.read_json(interesting_values, typ="series")
C:\Users\ksmin\anaconda3\Lib\site-packages\featuretools\entityset\deserialize.py:63: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  interesting_values = pd.read_json(interesting_values, typ="series")
C:\Users\ksmin\anaconda3\Lib\site-packages\featuretools\entityset\deserialize.py:63: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  interesting_values = pd.read_json(interesting_values, typ="series")
C:\Users\ksmin\anaconda3\Lib\site-packages\featuretools\entityset\deserialize.py:63: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  interesting_values = pd.read_json(interesting_values, typ="series")
C:\Users\ksmin\anaconda3\Lib\site-packages\featuretools\entityset\deserialize.py:63: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  interesting_values = pd.read_json(interesting_values, typ="series")
C:\Users\ksmin\anaconda3\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:698: FutureWarning: The provided callable <function sum at 0x000001469D4FC720> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  observed=True, sort=False).agg(to_agg)
C:\Users\ksmin\anaconda3\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:698: FutureWarning: The provided callable <function sum at 0x000001469D4FC720> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  observed=True, sort=False).agg(to_agg)

In [4]:
features

,income,credit_score,SUM(loans.loan_amount),SUM(loans.repaid),SUM(loans.rate),SUM(payments.payment_amount),SUM(payments.loans.loan_amount),SUM(payments.loans.repaid),SUM(payments.loans.rate)
client_id,,,,,,,,,
42320,229481,563,105931,9,36.86,122578,843367,70,302.84
39384,191204,617,149444,12,67.23,174270,1161741,84,499.12
26945,214516,806,106889,6,42.83,124261,771053,38,330.13
41472,152214,638,120173,8,63.70,118553,784731,56,435.36
46180,43851,562,154017,10,70.05,176796,1142666,74,578.43
46109,172677,527,179032,11,63.05,193954,1199661,76,450.55
32885,58955,642,148806,8,36.54,160597,1086206,63,244.97
29841,38354,523,176634,10,62.01,215915,1479162,84,494.77
38537,127183,643,152768,10,40.62,164904,1086422,72,318.07
35214,95849,696,129124,8,55.95,178780,1155314,65,515.92
49068,128813,603,137122,13,55.72,179442,1135240,109,434.45
26326,227920,633,116321,8,40.28,155176,950439,63,316.28
26695,174532,680,140845,7,44.39,164211,1038464,54,354.66
44601,156341,518,137385,15,83.02,169691,1156548,114,654.67
32726,235705,730,126032,11,58.12,142589,907656,90,461.96
25707,211422,621,159279,8,69.54,189747,1288666,75,531.10
49545,104564,770,205786,14,53.68,282907,2003153,112,593.25
48177,190632,769,141063,8,74.84,189555,1221517,68,614.37
32961,230341,714,133998,9,66.82,136116,946310,55,511.54
44387,151903,781,110816,9,42.10,115077,810865,55,284.30
35089,131176,771,138784,12,70.27,174065,1149727,101,530.09
46958,225709,644,121919,3,41.00,123870,859094,19,285.21
39505,153873,610,148481,9,63.81,175466,1155246,62,466.67
49624,49036,800,137618,9,60.56,143329,954116,63,437.82
41480,122607,585,157897,10,62.21,188223,1125802,71,437.64